h4 {
    font-weight: 800;
    font-size: 1.75em;
    padding-bottom: 2em;
}

h3 {
    font-size: 1.25em;
}

.container {
    padding-bottom: 2em;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: auto;
    padding-bottom: 1em
}

.card {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.image-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    height: 50%;
}

.image-body:hover {
    opacity: 90%;
    transition: 0.5s;
}

.card-image {
    filter: invert(1);
    max-height: 75%;
    max-width: 75%;
}

.button-container {
    display: flex;
    padding-top: 1em;
}

.button {
    border-radius: 5px;
    border: 0px;
    padding: .5em .75em;
    margin: auto;
    width:100px;
    height:40px;
    color:white;
}

.page-circle {
    margin: auto;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

