<section class="s2" id="projects">
    <div class="container">
        <h4>Projects</h4>
        <div class="card-container" data-aos="fade-left">
            <div class="card" id="card1">
                <div class="image-body">
                    <img src="../../../assets/lock.jpg" class="card-image" id="image1">
                </div>
                <div class="card-body">
                    <h3>Project 1</h3>
                    <p>Coming Soon!</p>
                    <div class="button-container">
                        <button class="button" disabled="disabled">Preview</button>
                    </div>
                </div>
            </div>
            <div class="card" id="card2">
                <div class="image-body">
                    <img src="../../../assets/lock.jpg" class="card-image" id="image2">
                </div>
                <div class="card-body">
                    <h3>Project 2</h3>
                    <p>Coming Soon!</p>
                    <div class="button-container">
                        <button class="button" disabled="disabled">Preview</button>
                    </div>
                </div>
            </div>
            <div class="card" id="card3">
                <div class="image-body">
                    <img src="../../../assets/lock.jpg" class="card-image" id="image3">
                </div>
                <div class="card-body">
                    <h3>Project 3</h3>
                    <p>Coming Soon!</p>
                    <div class="button-container">
                        <button class="button" disabled="disabled">Preview</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-circle"></div>
    </div>
</section>