<section class="s2">
    <div class="container">
        <h4>Skills</h4>
        <div class="row">
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>HMTL</span>
                        <span>70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:50%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>CSS</span>
                        <span>70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>C++</span>
                        <span>70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>TypeScript</span>
                        <span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:50%"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="progress-container">
                    <div class="info">
                        <span>Golang</span>
                        <span>40%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:40%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
