<header class="s1">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand me-auto">TG</a>
        <button class="navbar-toggler navbar-dark border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>

        <div class="collapse navbar-collapse" id="navCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" (click)="scrollBio()">About</a>
                <a class="nav-item nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" (click)="scrollWork()">Experience</a>
                <a class="nav-item nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" (click)="scrollSkills()">Skills</a>
                <a class="nav-item nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" (click)="scrollProjects()">Projects</a>
                <a class="nav-item nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" (click)="scrollContact()">Contact</a>
            </div>
        </div>
    </nav>
</header>