<section class="s2 row" id="bio">
    <div class="col-7">
        <h4 class="subtitle">About Me</h4>
        <p>I am currently studying Computer Engineering at the University of Cincinnati</p>
        <p>Yet remarkably appearance get him his projection. Diverted endeavor bed peculiar men the not desirous. Acuteness abilities ask can offending furnished fulfilled sex. Warrant fifteen exposed ye at mistake. Blush since so in noisy still built up an again. As young ye hopes no he place means. Partiality diminution gay yet entreaties admiration. In mr it he mention perhaps attempt pointed suppose. Unknown ye chamber of warrant of norland arrived.</p>
    </div>
    <div class="col-5">
        <img src="../../../assets/profile.jpeg" alt="Profile Picture" class="profile">
        <div class="icon-container">
            <a class="icon" href="https://github.com/gillemta">
                <i class="bi bi-github"></i>
            </a>
            <a class="icon" href="https://www.linkedin.com/in/tashan-gillem-00a2a11a9/">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</section>
