h4 {
    font-weight: 800;
    font-size: 1.75em;
    padding-bottom: 1em;
}

h5 {
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 0;
}

h6 {
    font-weight:700;
    font-size: 1.125em;
}

.s2 {
    overflow: hidden;
}

.container {
    padding-bottom: 0;
}

#card1 {
    padding-bottom: 1em;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 5px 5px;
}

.image-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width:33.3%;
    border-radius: 5px 0 0 5px;
}

.card-image {
    max-width: 75%;
    max-height: 63%;
}

.card-body {
    width:66.7%;
}

@media (max-width: 992px) {
    .image-body {
        width: 0;
    }

    .card-body {
        width: 100%;
    }

}