<section class="s2" id="work">
    <div class="container">
        <h4>Work Experience</h4>
        <div class="card-container" id="card1" data-aos="fade-up">
            <div class="card">
                <div class="image-body">
                    <img src="../../../assets/altamira-logo.png" class="card-image" id="image1">
                </div>
                <div class="card-body">
                    <h5>Software Engineer Intern</h5>
                    <h6>Altamira Technologies</h6>
                    <div>
                        <ul>
                            <li>Testsdfkasdjfasldfjasldfjalsdfjkasldkfjasdlfasldfjasldfkasjfasdjflasdfj</li>
                            <li>Testsdfkasdjfasldfjasldfjalsdfjkasldkfjasdlfasldfjasldfkasjfasdjflasdfj</li>
                            <li>Testsdfkasdjfasldfjasldfjalsdfjkasldkfjasdlfasldfjasldfkasjfasdjflasdfj</li>
                            <li>Testsdfkasdjfasldfjasldfjalsdfjkasldkfjasdlfasldfjasldfkasjfasdjflasdfj</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>