<section class="s2" id="work">
    <div class="container">
        <h4>Work Experience</h4>
        <div class="card-container" id="card1" data-aos="fade-up">
            <div class="card">
                <div class="image-body">
                    <img src="../../../assets/western-southern-logo.png" class="card-image" id="image1">
                </div>
                <div class="card-body">
                    <h5>Software Developer Intern</h5>
                    <h6>Western and Southern Finacial Goods</h6>
                    <div>
                        <ul>
                            <li>Spearheaded enhacnements to the commission payout system, boosting operational efficiency</li>
                            <li>Optimized a key business web application using ASP.NET, ensuring streamlined agent history management</li>
                            <li>Supported the transition from Mainframe to C#, aiding the company's techological mondernization efforts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container" id="card2" data-aos="fade-up">
            <div class="card">
                <div class="image-body">
                    <img src="../../../assets/altamira-logo.png" class="card-image" id="image1">
                </div>
                <div class="card-body">
                    <h5>Software Engineer Intern</h5>
                    <h6>Altamira Technologies</h6>
                    <div>
                        <ul>
                            <li>Worked with a small team of developers to maintain numerous web-apps using frameworks such as Angular and Vue</li>
                            <li>Devised and created unit tests to assess the functionality of a web-apps components</li>
                            <li>Focused on the process of run, build, and deploying new versions of a web-app using Docker and Jenkins</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>